.main {
  max-height: 50vh;
}

.mainContent {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.punkHighlight {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}

.punkDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: 0.75;
}

.selectedPunk {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vw;
}

.owner {
  /* display: flex; */
  align-items: start;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: auto;
  color: white;
  padding-right: 10px;
  flex-direction: column;
}

.ownerDetails {
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ownerImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.logoContainer {
  display: flex;
  margin-right: 10px;
}

.userContainer {
margin-right: 10px;    
}

.title {
    font-size: 40px;
    font-weight: 900;
}
